@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&family=Solway:wght@700&family=Spicy+Rice&display=swap');
:root{
    --heading-font: 'Spicy Rice';
    --paragraph-font: Solway, Gayathri, sans-serif;
}
#content{
    width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: whitesmoke; 
    grid-column: 1/11;
    grid-row: 4/9;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 150px;
}
#logo_link {
    padding: 5px;
    justify-self: center;
    align-self: center;
}
#nav {
    width: 790px;
    height: 35px;
    font-size: 15px;
    text-align: center;
}
#nav li {
    display: inline-block;
}
nav a:hover {
    background-color: #fe6ea3;
    color: whitesmoke;
}
nav a {
    padding: 10px 30px 10px 30px;
    text-align: center;
    color: #fb5607;
    text-decoration: none;
    font-family: var(--heading-font);
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
body {
    background-color: rgb(255, 224, 193); 
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #ff006e;
    display: grid;
    grid-template-columns: auto;
}
.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
}

.book, .join {
    background-color: #051923;
    color:whitesmoke;
    text-decoration: none;
    font-size: 2em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #051923;
    color:whitesmoke;
}
.msg {
    background-color: #051923;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6a7152;
}
footer {
    background-color: #6A7152;
    color: white;
    text-align: center;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title{
    color:whitesmoke;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:whitesmoke;
}
.msg h2{
    color:black;
    font-family: var(--heading-font);
}
.msg p{
    color:black;
    font-size: 2em;
    padding-bottom: 15px;
}
footer h3{
    color:black;
}
footer a{
    text-decoration: none;
    color:black;
}
footer a:hover{
    color:black;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-slogan{
    grid-column: 5/8 span/3 ;
    grid-row:1/4;
    color: #3a86ff;
    font-family: var(--heading-font);
}
#hero-boxx{
    grid-column: 7/8 ;
    grid-row:5/6; 
}
#hero-msg {
    grid-column: 1/3;
    grid-row: 5/6;
}
#hero-msg h4 {
    color: white;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }